<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/vidraria"></ion-back-button>
    </ion-buttons>
    <ion-title>Nova Vidraria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="spacer" style="width: 900px; height: 80.9896px;"></div>
  <ion-item>
    <ion-label position="fixed">NOME:</ion-label>
    <ion-input type="text"></ion-input>
    <!--MODELO INPUT!! <ion-input type="text" [(ngModel)]="email"></ion-input>-->
  </ion-item>
  <div class="spacer" style="width: 900px; height: 120.9896px;"></div>
  <ion-button>OK</ion-button>
</ion-content>
