<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Administração
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item href="/admequip">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR EQUIPAMENTOS</ion-text>
  </ion-item>
  <ion-item href="/vidraria">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR VIDRARIAS</ion-text>
  </ion-item>
  <ion-item href="/admusuario">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR USUARIOS</ion-text>
  </ion-item>
  <ion-item href="/admmeio">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR MEIOS DE CULTIVO</ion-text>
  </ion-item>
  <ion-item href="/admreagente">
    <ion-label> </ion-label>
    <ion-text>GERENCIAR REAGENTES</ion-text>
  </ion-item>
  <ion-item href="/relatorio">
    <ion-label> </ion-label>
    <ion-text>RELATÓRIOS</ion-text>
  </ion-item>
  <ion-item href="/danos">
    <ion-label> </ion-label>
    <ion-text>DANOS</ion-text>
  </ion-item>
</ion-content>
