<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Uso Meio de Cultivo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Meio de Cultivo</ion-label>
    <ion-select interface="popover" [(ngModel)]="meio">
      <ion-select-option *ngFor="let meio of meios">{{
        meio.nomenclatura
      }}</ion-select-option>
    </ion-select>
  </ion-item>
  <!-- Input with value -->
  <ion-item>
    <ion-label position="floating">Quantidade</ion-label>
    <ion-input type="text" [(ngModel)]="qntd"></ion-input>
  </ion-item>
  <ion-button (click)="alertUso(alertUso)">Informar Uso</ion-button>
</ion-content>
