<ion-content padding>
  <div class="spacer" style="width: 900px; height: 110.9896px;"></div>
  <div class="ion-text-center">
    <ion-label position="fixed">E-mail cadastrado:</ion-label>
    <ion-input placeholder="meuemail@alunos.utfpr.edu.br"></ion-input>
  </div>
  <div class="spacer" style="width: 900px; height: 40.9896px;"></div>
  <ion-button expand="block" color="dark">Recuperar senha</ion-button>
  <ion-button href="/login" expand="block" color="dark">Voltar</ion-button>
</ion-content>
