<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Notificar Dano
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content paddign>
  <div class="spacer" style="width: 900px; height: 30.9896px;"></div>
  <ion-item>
    <ion-label>Conte-nos o que ocorreu:</ion-label>
    <ion-textarea rows="6" cols="40"></ion-textarea>
  </ion-item>
  <div class="spacer" style="width: 900px; height: 79.9896px;"></div>
  <ion-button expand="block" color="dark">Notificar</ion-button>
  <div class="spacer" style="width: 900px; height: 135.9896px;"></div>
  <strong
    >"Erros são doloros quando eles acontecem. Mas anos mais tarde a coleção de
    erros é o que é chamado de experiência"</strong
  >
</ion-content>
