<ion-content padding>
  <h1 id="prCadastro-heading2" style="color:#000000;text-align:center;">
    Pré-Cadastro
  </h1>
  <h3 id="prCadastro-heading1" style="color:#000000;text-align:center;">
    realizado com sucesso!!
  </h3>

  <h3 id="prCadastro-heading3" style="color:#000000;text-align:center;">
    Aguarde liberação do administrador
  </h3>
  <div class="spacer" style="width: 900px; height: 35.9896px;"></div>
  <h3 style="color: red;text-align:center;">Redirecionando...</h3>
</ion-content>
